<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sql-executor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/17eb64bd-0e5c-4f3d-aa0c-d28a2f684c37/resourceGroups/sql-script-runner_group/providers/Microsoft.Web/sites/sql-executor</ResourceId>
    <UserName>$sql-executor</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://sql-executor.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>